{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
	function logout() {
		FB.logout(function(response) {
			window.location = "https://fb2cal.appspot.com/";
		});
	}
</script>
{% endblock %}

{% block title %}Information{% endblock %}
{% block accessory %}<a href="javascript:logout();">&gt; Log out</a>{% endblock %}

{% block content %}

<p>View <a href="https://github.com/mattrajca/fb2cal/wiki">instructions</a> on how to set up your favorite calendaring program. Your fb2cal username is: <strong>{{ uid }}</strong></p>

<p>If you want to sync your Facebook events, navigate to the <em>Events</em> section of your Facebook account, and press <em>Export Events</em>. Follow the instructions on the pop-up that appears.</p>

<p style="margin-bottom:4px"><a href="/emptyCache">&gt; Flush Cache</a></p>
<p style="margin-top:0"><a href="/setupAccount">&gt; Change Password</a></p>

{% endblock %}
